# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/
redis_data/

# Environment
.env
*.env.local

# Temporary AWS config files
frontend/bucket-policy.json
frontend/cf-config.json
cf-config.json
frontend/cf-update.json
infrastructure/apprunner-dev.json
infrastructure/apprunner-prod.json
